/Basics_Edu
/Hospitation
/OOP_Edu
/tests
/WebDev_Edu
/SQL_Edu
Python_Edu/.idea/misc.xml
Python_Edu/.idea/modules.xml
Python_Edu/.idea/Python_Edu.iml
Python_Edu/.idea/inspectionProfiles/profiles_settings.xml
Python_Edu/.idea/inspectionProfiles/Project_Default.xml
Python_Edu/.idea/.name
Python_Edu/.idea/shelf/
Python_Edu/.idea/workspace.xml
.vscode/launch.json
Misc/Planspiel_Verwaltungssoftware_Shirts.md
Misc/Planspiel_Verwaltungssoftware_Shirts.pdf
Misc/Planspiel_Webanwendung_Sushi.md
Misc/Planspiel_Webanwendung_Sushi.pdf
Python_Edu/__pycache__/y0_this_is_my_module.cpython-310.pyc
